<div class="jumbo">
    <div class="right about"></div>
    <h2>Over mezelf</h2>
    <hr>
    <br>
    <p>
        Informatie over mezelf...
    </p>
    {{#link-to "overview" class="button"}} Activities {{/link-to}}
</div>