<div class="jumbo">
    <div class="right about"></div>
    <h2>Over mezelf</h2>
    <hr>
    <br>
    <p>
        Ik ben Maurits Seelen, 23 jaar en Applicatie Ontwikkeling student. Dit portfolio laat al mijn gepresteerde 
        activiteiten zien die ik voor het vak I-Talent heb ondernomen. De nadruk zal liggen om het internationale vlak, 
        omdat ik hier verruit het meeste heb bijgeleerd, zowel als op professioneel vlak als op persoonlijk vlak.
        <br>
        De onderdelen die aanbod komen zullen mijn internationale ervaringen zijn, alle seminaries die ik heb gevolgd,
        een wedstrijd waar ik aan heb meegedaan en het onderdeel innovatie.
    </p>
    {{#link-to "overview" class="button"}} Activiteiten! {{/link-to}}
</div>