<div class="container">
    <div class="menu">
        {{#link-to "index"}}
        <h1>
            <em>Home</em>
        </h1>
        {{/link-to}}
        <div class="links">
            {{#link-to "overview" class="menu-about"}}
                   Overzicht
            {{/link-to}}
            {{#link-to "selection" class="menu-contact"}}
                   Selectie activiteiten
            {{/link-to}}
            {{#link-to "reflection" class="menu-reflection"}}
                   Eindreflectie
            {{/link-to}}
        </div>
    </div>
    <div class="body">
        {{outlet}}
    </div>
</div>