<div class="jumbo">
    <div class="right"></div>
    <h2>Verslag BusIT week: Zuid-Afrika</h2>
    <hr>
    <br>
    <p>
        Internationale BusIT week: Zuid-Afrika 2017 In het tweede jaar van de opleiding toegepaste-informatica besloot ik om mee
        te gaan met een internationale BusIT reis. Mijn oog viel meteen op Zuid-Afrika. De andere kant van de wereld met
        een totaal andere cultuur en mensen, dat zag ik wel zitten. Ik kwam op zondag 26 maart aan op het vliegveld van Johannesburg
        waarna ik werd opgehaald door James, een taxichauffeur van de Begium Campus. Die zondag liep vrij rustig, ik ontmoette
        de andere studenten van de verschillende Belgische scholen en we gingen wat rondkijken wat er allemaal te doen was
        in de buurt van het Guesthouse. Maandag 27 maart. De week ging nu echt beginnen. Om half 9 vertrokken we naar de
        Belgium Campus. Na een kennismaking daar met de verschillende leerkrachten en de Zuid-Afrikaanse studenten kregen
        we het project uitgelegd wat we die week gingen maken. Het project ging over een fictieve stad genaamd Kaputsylvania
        met verschillende regio’s. In totaal 7. In iedere regio hadden ze verschillende systemen voor bv, water, elektriciteit,
        wegen, internet, etc. Sommige van die systemen waren slecht of verouderd. Wij kregen de opdracht om voor iedere regio
        een oplossing te vinden voor de verschillende problemen. Na de uitleg mochten we onze groep samenstellen. Per groep
        moest er een student van een verschillende school in België zitten en een Zuid-Afrikaanse student. In mijn groepje
        zat er een student van de HoGent, Riwan, een student van de Erasmus in Brussel, Ellen en de andere studenten waren
        van de Belgium Campus, Hein en Dawie, de Zuid-Afrikaanse studenten. Iedere dag kregen we een nieuw probleem of verandering
        in onze fictieve stad, zodat we ons project weer ergens moesten aanpassen. Dit om een zo echt mogelijk situatie te
        schetsen, ook voor in onze latere carrière. De rest van de week hebben we ons project afgewerkt en vrijdag hebben
        we de presentatie gedaan. Iedere groep kreeg de tijd om hun project te presenteren. Uiteindelijk zou de groep die
        met de beste oplossing kwam winnen. Die groep kreeg dan ook een prijs uitgereikt die vrijdag avond bij het Fair well
        dinner. Zaterdag 1 april, de laatste dag gingen we naar het Pilannesberg Game Reserve. We vertrokken om 5 uur s ’ochtends
        al richting het park. Hier hebben we tot 3 uur s ‘middags rondgereden en dieren gespot. We hadden alle dieren gezien
        behalve de leeuwen, helaas. Nadat we terug waren van de safari gingen verschillende studenten al terug naar het vliegtuig,
        terug naar huis of gingen ze zelf nog door Zuid-Afrika trekken. Ikzelf vertrok zondag 2 april terug naar België.
        Terugkijkend op deze week was het een hele ervaring. Vooral het samenwerken met andere mensen, zowel nationaal als
        internationaal was nieuw en leerrijk. We hebben een beter beeld kunnen krijgen in hoe andere mensen denken over verschillende
        soorten problemen en hoe ze dit willen/kunnen oplossen. Ik vond dit een zeer geslaagde week waar ik later nog veel
        aan zal hebben.
    </p>
    <br>
     <img src="../../assets/images/DSC_0141.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../../assets/images/DSC_0117.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../../assets/images/DSC_0020.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../../assets/images/busit zuidafrika.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <br>
    <p style="clear: both;">
    </p>
    <h2>Reflectie activiteit</h2>
    <hr>
    <br>
    <p>
        Ik heb deze opdracht gekozen omdat dit een hele bijzondere ervaring was. De kans om naar de andere kant van de wereld te
        reizen liet ik niet zomaar liggen. Zeker omdat een ambitie is die ik zelf heb om zoveel mogelijk van de wereld te
        zien. De ervaring om alleen naar Zuid-Afika te reizen heeft me ook zelfstandiger gemaakt. Deze reis heeft ook de
        doorslag gegeven om in het buitenland stage te gaan doen.
        <br>
        <br> Een belangrijk aspect dat ik in deze week geleerd heb is om met veel verschillende mensen samen te werken. Natuurlijk
        waren er ook studenten uit andere Belgische steden, maar ook met de Zuid-Afrikaanse studenten. De taal die we spraken
        was natuurlijk Engels. Alhoewel het Zuid-Afrikaans afgeleid is van het Nederlands is het vaak toch moeilijk om te
        verstaan. Dit was natuurlijk ook nieuw, om in een andere taal te communiceren en toch tot een goede uitwerking te
        komen van ons project. Dit heeft me ook laten inzien dat er, aan de andere kant van de wereld, het er totaal anders
        aan toegaat qua educatie over hetzelfde onderwerp. Onze kennis over bijvoorbeeld .NET was ongeveer hetzelfde alleen
        werden sommige principes anders aangepakt. Hierin moesten we dan natuurlijk een middenweg in vinden wat uiteindelijk
        totaal geen problemen opleverden.
        <br>
        <br> Deze reis is natuurlijk ook een mooi item om te vermelden in mijn portfolio. Het is iets unieks. De ervaring die
        ik hierin heb opgedaan zal me voor de rest van mijn leven bijblijven. Het is jammer dat niet iedere student dit wilt
        of kan doen want uiteindelijk leer je door dit soort reizen/activiteiten het meest.
    </p>
    <br> {{#link-to "selection" class="btn"}} Terug {{/link-to}}
</div>