<div class="jumbo">
    <h2>Overzicht activiteiten: innovatie</h2>
    <hr>
    <br>
    <p>Voor het onderdeel innovatie heb ik mijn portfolio website gemaakt in Emberjs.</p>
</div>
<div class="jumbo">
    {{#link-to "overview" class="btn"}} Terug {{/link-to}}
</div>