<div class="jumbo">
    <div class="right tomster"></div>
    <h2>Overzicht activiteiten</h2>
    <hr>
    <br>
    <p>
        Hieronder kan er gekozen worden om een overzicht te krijgen per onderdeel met wat bijhorende informatie.
        In het tabblad "Selectie activiteiten" komen een aantal activiteiten uitgebreider aanbod.
    </p>
    <div>
        <p>{{#link-to "internationaliserings" class="button"}} Internationalisering {{/link-to}}</p>
    </div>    
    <div>
        <p>{{#link-to "seminars" class="button"}} Seminaries {{/link-to}}</p>
     </div>
     <div>
        <p>{{#link-to "wedstrijden" class="button"}} Student-engagement {{/link-to}}</p>
     </div>
     <div>
        <p>{{#link-to "innovatie" class="button"}} Innovatie {{/link-to}}</p>
     </div>
</div>
<div class="body">
    {{outlet}}
</div>