<div class="jumbo">
    <div class="right tomster"></div>
    <h2>Overzicht activiteiten</h2>
    <hr>
    <br>
    
    <div>
        <p>{{#link-to "internationaliserings" class="button"}} Internationalisering {{/link-to}}</p>
    </div>    
    <div>
        <p>{{#link-to "seminars" class="button"}} Seminaries {{/link-to}}</p>
     </div>
     <div>
        <p>{{#link-to "seminars" class="button"}} Wedstrijden {{/link-to}}</p>
     </div>
</div>
<div class="body">
    {{outlet}}
</div>