<div class="jumbo">
    <div class="right tomster"></div>
    <h2>Activities overview</h2>
    <div>
        <p>{{#link-to "internationaliserings" class="button"}} Internationalisering {{/link-to}}</p>
    </div>    
    <div>
        <p>{{#link-to "seminars" class="button"}} Seminars {{/link-to}}</p>
    </div>
    </div>
<div class="body">
    {{outlet}}
</div>