<div class="jumbo">
    <div class="right"></div>
    <h2>Eindreflectie</h2>
    <hr>
    <br>
    <p>
        Doorheen de opleiding ben ik zeker veranderd als persoon. Niet alleen op intellectueel vlak, maar ook op persoonlijk vlak.
        Natuurlijk heb ik veel bijgeleerd over IT in het algemeen. Voordat ik aan de opleiding begon was mijn kennis niet
        zo uitgereid zoals die nu is. Ik vond de vakken zoals server essentials en Cisco zeer nuttig en informatief. Deze
        vakken zijn essentieel in een IT opleiding, vooral om van alles een beter beeld te krijgen en te begrijpen. Mijn
        specialisatie is applicatie-ontwikkeling. Ik wist wel dat ik dit ook daadwerkelijk wou gaan doen aan het begin van
        de opleiding, maar dit was natuurlijk niet een 100% zekerheid. Ik denk ook niet dat dit mijn sterkste kant was, maar
        wel is geworden. De eerste programmeer vakken waren zeker niet mijn beste vakken en moest ik ook herhaaldelijk opnieuw
        doen. Maar doorzettingsvermogen is gelukkig een sterk punt van mijn karakter. Zonder dit was ik waarschijnlijk gestopt
        met de opleiding. Dit is dus gelukkig niet het geval geweest. Zelf ben ik als persoon veranderd, in de goede zin.
        De vele groepsopdrachten hebben me een meer open mens gemaakt. Hiervoor was ik nooit echt zo’n voorstander van groepsopdrachten
        en deed ik liever een opdracht alleen. Vooral de grotere opdrachten waren niet alleen uitdagend, maar ook leuk om
        te doen. Hierbij denk ik aan het applicatie-ontwikkeling project in 2TIN. Dit leek zo’n groot onmmogelijk project
        in het begin, maar uiteindelijk hebben we een product afgeleverd als team. In projecten zoals deze en het IT-project
        in het derde jaar leveren niet alleen veel kennis en ervaring op, maar ook nieuwe vriendschappen. Dit is iets wat
        ik zeer waardeer aan de opleiding, en ook iets wat natuurlijk noodzakelijk is om ons te leren, de groepswerken en
        werken in team verband. Ik vind dat het meeste geleerd wordt in projecten zoals deze. Natuurlijk leren we de basis
        van bijvoorbeeld een Angular framework tijdens de lessen, maar dit wordt pas echt toegepast in de praktijk tijdens
        een groot project.
        <br>
        <br> Uiteindelijk is zijn mijn sterke punten het probleem oplossend denken geworden. Voor de aanvang van de opleiding
        was dit niet het geval, in het begin had ik hier dan ook veel moeite mee. Nu is dit echter niet meer het geval en
        is dit een van mijn sterkere punten geworden. Zelfstandig en het werken in team is ook zeer veel verbeterd doorheen
        de opleiding. Er is wel nog ruimte voor verbetering met het werken in teamverband, zoals bijvoorbeeld betere communicatie
        en sneller om hulp vragen als dat nodig is. Soms probeer ik te lang om zelf iets te willen oplossen terwijl dit waarschijnlijk
        veel sneller gaat als je met twee, of drie er even over nadenkt. Verder ben ik zeer tevreden over wat ik allemaal
        heb geleerd en heb kunnen doen, zoals de internationale bus-it week en zeker mijn stage in Finland. Al deze dingen
        samen met de opleiding hebben een goede basis gelegd voor mijn verdere carrière en toekomst.
    </p>
    {{#link-to "about" class="button"}} Terug {{/link-to}}
</div>