<div class="jumbo">
    <div class="right tomster"></div>
    <h2>My selection</h2>
    <p>These our my most memorable moments</p>
    {{#link-to "about" class="button"}}
        About 
    {{/link-to}}
</div>