<div class="jumbo">
    <div class="right tomster"></div>
    <h2>Mijn selectie</h2>
    <hr>
    <br>
    <p>
        Dit zijn de vier activiteiten die mij het meest hebben bijgebracht en hebben opgeleverd qua kennis en ontwikkeling. De internationale
        BusIT week naar Zuid-Afrika, mijn stage in Finland, de Catalyst Coding Contest en het ... seminarie.
    </p>
    <article class="listing">
        <h3> BusIT week: Zuid-Afrika </h3>
        <div class="detai">
            <span>
                
            </span>
        </div>
        <div class="detail">
            <span>Verslag en reflectie: </span> {{#link-to "busit" class="btn"}} klik {{/link-to}}
        </div>
    </article>
    <article class="listing">
        <h3> Internationale stage Rovaniemi, Finland</h3>
        <div class="detail">
            <span>Verslag: </span> {{#link-to "stage" class="btn"}} klik {{/link-to}}
        </div>
    </article>
    <article class="listing">
        <h3> Catalyst Coding Contest</h3>
        <div class="detail">
            <span>Verslag: </span> {{#link-to "wedstrijdreflectie" class="btn"}} klik {{/link-to}}
        </div>
    </article>
</div>