<div class="jumbo">
    <h2>Overzicht activiteiten: seminaries</h2>
    <hr>
    <br>
</div>
{{#seminar-filter filter=(action 'filterByName') as |filteredResults|}}
<ul class="results">
    {{#each filteredResults as |seminar|}}
    <li>{{seminar-comp seminar=seminar}}</li>
    {{/each}}
</ul>
{{/seminar-filter}}

<div class="jumbo">
    {{#link-to "overview" class="btn"}} Terug {{/link-to}}
</div>