<div class="jumbo">
    <div class="right"></div>
    <h2>Verslag seminarie: AppFoundry</h2>
    <hr>
    <br>
    <p>
        Het seminarie werd gegeven door Siebe Sysmans. Hij is een Java Consultant bij AppFoundry. Hij kwam ons uitleggen hoe het
        werken aan een app, van begin tot eind, in zijn werk gaat. Hij vertelde eerst hoe een dag eruit ziet bij AppFoundry.
        Wat doen ze allemaal? Wie er allemaal werkt? Wat de verschillende functies zijn? Hierna begon de uitleg over Android
        Studio. Het programma om Apps te schrijven in Java. We kregen allerlei functies te zien, hoe dit werkte, hoe je ermee
        kunt werken, etc. Daarna kregen we een aantal demo’s van verschillende technologieën binnen Android Studio in Java.
        Per technologie werd er uitgelegd waarom, hoe en wat. Aan de hand van de voorbeelden werd het ook meteen duidelijk
        hoe je dit kon gebruiken. Dan kregen we te horen en welke projecten Siebe zelf allemaal al had gewerkt. Hij vertelde
        ons wat hij al had gedaan en voor welke klanten. Hoe deze projecten in grote lijnen in zijn werk gaan, van begin
        tot eind. Hij had ook een project voor de KBC gedaan. Daarvoor had hij eerst een cursus in Security moeten volgen
        omdat hij met betrouwbare informatie moest omgaan, ook om dit te implementeren in de app van de KBC. Na de uitleg
        werden nog wat vragen beantwoord en zat het seminarie erop. Het was zeker interessant om eens te horen van iemand
        in het werkveld hoe het eraan toe gaat.
    </p>
    <br>
    <br>
    <p style="clear: both;">
    </p>
    <h2>Reflectie activiteit</h2>
    <hr>
    <br>
    <p>
        Ik vond dit een zeer nuttig seminarie. We hadden het vak mobile development in het eerste semester van het derde jaar, hierin
        moesten we een app maken in Android of voor IOS. Ik koos voor het ontwikkelen van een app in Android, en de meest
        gebruikte tool hiervoor is Android Studio. Ik had nog nooit Android Studio gebruikt voor de aanvang van dit vak of
        zelfs een mobile app geprobeerd te maken. Dit vak sprak me heel erg aan, zeker met het oog op de toekomst als toekomstig
        ontwikkelaar. Het seminarie van AppFoundry was dus zeker erg interessant voor mij om te zien hoe het er aan toe gaat
        als app ontwikkelaar voor Android. Het seminarie gaf een veel beter beeld op de ontwikkeling van een app, in dit
        geval voor Android. Wat ik vooral uit de seminarie geleerd heb is dus hoe het er in een professionele omgeving aan
        toe gaat qua ontwikkeling van een app. Dit maakt de keuze na mijn opleiding iets makkelijk omdat ik een beter beeld
        heb op de verschillende mogelijkheden en hier dan ook enkele voorbeelden uit de praktijk van kan zien, zoals dit
        seminarie.
    </p>
    <br> {{#link-to "selection" class="btn"}} Terug {{/link-to}}
</div>