<div class="jumbo">
    <div class="right stage"></div>
    <h2>Verslag stage: Finland</h2>
    <hr>
    <br>
    <p>
        Mijn stage ging door in Rovaniemi, Finland. Dit is eigenlijk Lapland en ligt op de poolcirkel. In de wintermaanden
        is het dus behoorlijk koud. Ik vertrok op 24 februari naar Rovaniemi. De eerste vijf weken is de temperatuur niet boven het vriespunt gekomen.
        Wat ook normaal is voor Lapland en gelukkig was ik hier op voorbereidt. De gemiddelde temperatuur tijdens de eerste maand 
        lag rond de -15 graden. Het koudste was op een maandag morgen, 7uur 's ochtends onderweg op de fiets. -32 graden.
        Drie paar sokken, twee broeken, thermo ondergoed, twee truien, twee handschoenen, jas en muts. Dat hield me gelukkig wel warm.
        Het landschap tijdens de eerste weken was vooral prachtig. Overal een dikke laag sneeuw en als de zon scheen was het helemaal mooi om te zien.
        <br><br>
        Mijn stage ging door in de universiteit van Lapland, Lapin AMK, in het software engineering laboratorium. Hier werkte ik aan een 
        web applicatie waar gebruikers 3D modellen van kunnen downloaden en uploaden. Die modellen worden gebruikt voor de ontwikkeling
        van games in Unity3D. Het was een zeer interessant stage waar ik veel dingen uit heb kunnen leren. Hetgeen ik wel jammer vond is dat ik helemaal alleen 
        aan deze opdracht werkte en mijn stagebegeleider ter plaatse er niet altijd was.
        <br>
        De stageopdracht was opzich niet moeilijk. Ik heb de applicatie gemaakt in Angular, waar ik al een redelijke goede kennis van had. De backend 
        deed ik in nodejs waar we tijdens de opleiding ook al gebruik van hadden gemaakt. Dit resulteerde er dus in dat ik redelijk snel iets klaar had.
        De echte uitdaging vond ik het eindwerk. Dit is toch het belangrijkste wat je zal doen tijdens de opleiding omdat je hierin echt kunt laten zien wat je kan en 
        hebt geleerd in drie jaren. Hierin heb ik dus ook veel tijd ingestoken om tot een goed resultaat te komen.
        <br><br>
        Natuurlijk was mijn tijd hier niet alleen maar stage. Ik heb nog verschillende leuke activiteiten gedaan zoals een sneeuwmobiel safari,
        husky safari, het Santa Clause Village bezocht, musea bezocht, naar feestjes geweest met vrienden die ik hier heb leren kennen en natuurlijk, de Finse sauna.
        Alle details zijn terug te vinden op mijn blog die ik hier heb bijgehouden: <a href="https://www.volgmijnreis.nl/profiel/mauritss">blog</a>
        <br><br>
        Ik verbleef in Kuntotie, hier liggen alle appartementen waar de studenten verblijven. In Kuntotie zijn er zes grote appartementen gebouwen,
        vier hiervan zijn voor de Finse studenten en twee daarvon, Kuntotie 5 en 6, zijn voor de uitwisselingsstudenten. Ik deelde mijn flat 
        met een Franse student Marketing.
    </p>
    <br>
    <img src="../../assets/images/K2GVZyk.jpg" style="float: left; width: auto; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../../assets/images/upBZQap.jpg" style="float: left; width: auto; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../../assets/images/sSkmObK.jpg" style="float: left; width: auto; margin-right: 1%; margin-bottom: 0.5em;">
    <img src="../../assets/images/Pe6ltZm.jpg" style="float: left; width: auto; margin-right: 1%; margin-bottom: 0.5em;">
    <br>
    <p style="clear: both;">
    </p>
    <h2>Reflectie stage</h2>
    <hr>
    <br>
    <p>
        probleme vragen bla
    </p>
    <br> {{#link-to "selection" class="btn"}} Terug {{/link-to}}
</div>