<div class="jumbo">
    <h2>Overzicht activiteiten: wedstrijd</h2>
    <hr>
    <br>
</div>
{{#each model as |wedstrijd|}} {{wedstrijd-comp wedstrijd=wedstrijd}} {{/each}}
<div class="jumbo">
    {{#link-to "overview" class="btn"}} Terug {{/link-to}}
</div>