<div class="jumbo">
    <h2>Verslag programmeerwedstrijd: Catalyst Coding Contest</h2>
    <hr>
    <br>
    <p> Op 20 oktober 2017 deden Jannick, Rudy en ik mee aan de programmeer wedstrijd Catalyst Coding Contest. De wedstrijd focuste
        zich niet zozeer op het programmeren zelf maar meer op het kunnen oplossen van meer en minder complexe vraagstukken.
        De wedstrijd zelf duurde 4 uur. Er waren 7 vraagstukken in totaal die opgelost konden worden. Voordat je naar de
        volgende vraag kon moest de vorige eerst opgelost worden. Het antwoord moest geüpload worden en werd dan door een
        systeem onmiddellijk gecontroleerd of het goed of fout was. Bij een goed antwoord werd de volgende vraag opengesteld
        en kon je verder. Uiteindelijk hebben 2 van de 7 vragen kunnen oplossen, wat mij eerder tegenviel. Achteraf gezien
        viel het toch nog best mee. We eindigde als 470e van de 2300+ deelnemers. De eerste 2 vragen waren vragen in verband
        met het inlezen van een bestand, de data verwerken en dan de juiste output teruggeven. Wij gebruikte PHP als programmeertaal.
        Achteraf bekeken was C# .NET of java misschien beter geweest voor dit soort vragen. We hebben in ieder geval ook
        weer een beetje extra ervaring opgedaan in PHP, want de vragen, en vooral de tweede was een behoorlijke uitdaging.
        Deelnemen aan een onlinewedstrijd heb ik altijd als een enorme uitdaging gezien. Het ontbrak me aan tijd, energie
        en eerlijk gezegd ook durf om me voor een dergelijke wedstrijd in te schrijven. Ik twijfelde dan ook geen seconde
        toen ik ontdekte dat ik met deelname aan het Catalyst Coding Contest studiepunten kon verdienen. Zo kon ik niet alleen
        het aangename met het noodzakelijke combineren, bovenal zag ik het als een kans om een lang gekoesterde wens in vervulling
        te laten gaan. Niet alleen het werken onder tijdsdruk en het intensief samenwerken met medestudenten zie ik als een
        uitdaging, ook het kennismaken met andere deelnemers leek me interessant. Daarnaast zie ik het als een mooie gelegenheid
        om de kennis en vaardigheden die ik tot nu toe heb opgedaan eens te onderwerpen aan een test. Ik wilde ervaren hoe
        ik omga met samenwerken onder tijdsdruk en het presteren in competitieverband. Wat mij zeker bij zal blijven, en
        ook iets wat ik al heb ervaren met het maken van examens, is dat je niet te veel moet stressen, en gewoon rustig
        moet blijven. Dit helpt uiteindelijk veel meer dan wanneer je je gaat opjagen. Ook was dit een leuke meting ten opzichte
        van andere studenten in Europa en de wereld. Hoewel we zeker niet bij de beste horen, of misschien met wat meer oefening
        op dit soort vragen, presteerde we ook niet ondermaats. Al bij al vond ik het een zeer leuke, interessante en leerrijke
        ervaring en ben ik van plan om zeker nog eens mee te doen aan een programeer wedstrijd.
    </p>
     {{#link-to "wedstrijden" class="btn"}} Terug {{/link-to}}
</div>