<article class="listing">
    <h3>{{inno.name}}</h3>
    <div class="detail type">
        <span>Beschrijving:</span> {{inno.description}}
    </div>
    <div class="detail type">
        <span>Datum: </span> {{inno.date}}
    </div>
</article>