<article class="listing">
    <h3>{{seminar.name}}</h3>
    <div class="detail owner">
        <span>Datum:</span> {{seminar.date}}
    </div>
    <div class="detail location">
        <span>Locatie:</span> {{seminar.location}}
    </div>
    <div class="detail type">
        <span>Beschrijving:</span> {{seminar.description}}
    </div>
</article>
