<article class="listing">
<table id="seminars">
    <tr>
        <th>Naam</th>
        <th>Datum</th>
        <th>Locatie</th>
        <th>Beschrijving</th>
    </tr>
    <tr>
        <td>{{seminar.name}}</td>
        <td>{{seminar.date}}</td>
        <td>{{seminar.location}}</td>
        <td>{{seminar.description}}</td>
    </tr>
</table>
</article>