<table>
    <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Location</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>{{seminar.name}}</td>
        <td>{{seminar.date}}</td>
        <td>{{seminar.location}}</td>
        <td>{{seminar.description}}</td>
    </tr>
</table>